@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

li {
  list-style-type: none;
}
.container {
  margin-top: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

// navbar
.horizontal-navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 2px 1px #e6e6e6;
  .guest {
    display: flex;
    background-color: #fff;
    #logo {
      margin: 0.5rem 1rem;
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: 1rem;
      li {
        margin: 0 0.5rem;
      }
      a {
        text-decoration: none;
        color: $dark-color;
        font-weight: 500;
      }
    }
  }
  .auth {
    display: flex;
    background-color: white;
    .search-form {
      textarea {
        z-index: 3;
        display: block;
        padding: 0.6rem;
        font-size: 1rem;
        margin: 1rem;
        border-radius: 0.3rem;
        border: solid 1px $light-grey;
      }
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: 0.5rem 1rem;
      li {
        margin: 0 0.5rem;
      }
      a {
        text-decoration: none;
        color: $light-grey;
        font-weight: 500;
      }
    }
    #logo {
      margin: 0;
    }
  }

  #logo {
    font-family: 'Lilita One', cursive;
    color: $primary-color;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
.navbar {
  z-index: 1;
  position: fixed;
  grid-area: navbar;
  height: 100%;
  height: 100vh;
  width: 6.5rem;
  text-align: left;
  padding: 0 0.2rem 1rem 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: solid 0.5px $light-grey;
  .word-item {
    position: relative;
    top: 1rem;
    .each-item {
      line-height: 3rem;

      .word {
        font-size: 1rem;
        color: $dark-color;
      }
      .remove-word {
        position: absolute;
        right: 0rem;
        margin-top: 0.8rem;
        transform: rotate(45deg);
        color: #e6e6e6;
        font-size: 1.5rem;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-areas: 'navbar right-area';
  grid-template-columns: 2fr 5fr;
}

.right-area {
  grid-area: right-area;
  padding: 0.5rem;
  width: 17rem;
  h1 {
    color: $primary-color;
  }
  .synonym {
    line-height: 2rem;
    button {
      font-size: 1rem;
    }
  }
}

.shadow-box {
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 1px #e6e6e6;
  padding: 1rem;
  margin-top: 0.5rem;
}

// content area

.google {
  h2 {
    color: $google-color;
  }
  h3 {
    font-style: italic;
  }
  .example {
    color: $grey-color;
  }
  .synonyms {
    color: $dark-grey;
    word-wrap: break-word;
  }
  button {
    font-size: 1rem;
  }
}
.dict {
  span {
    font-weight: 700;
    color: $light-grey;
    font-size: 0.8rem;
  }
  li {
    margin-bottom: 1rem;
  }
}

.mnemonic {
  .item {
    margin: 1rem 0;
    hr {
      color: $light-grey;
    }
    .like {
      color: $success-color;
    }
    .dislike {
      color: $danger-color;
    }
  }
}

// Spinner
.container-xy {
  display: flex;
  background-color: white;
  height: 100%;
  height: 100vh;
  .center-xy {
    width: 100%;
    margin: auto;
    text-align: center;
    h1 {
      color: $primary-color;
    }
  }
}

// Landing
.header__bg {
  background-color: $primary-color;
  transform: skewY(5deg);
  z-index: -10;
  position: absolute;
  transform-origin: top left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 26rem;
}

.landing {
  .header {
    transform-origin: top left;
    margin-top: -2rem;
    display: flex;
    background-color: $primary-color;
    .phone-container {
      margin: 3rem auto;
      color: white;
      text-align: center;
      .lead {
        margin: 0rem auto;
        font-size: 1.6rem;
        width: 80%;
        max-width: 700px;
      }
      .button {
        background-color: #fff;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        margin-top: 3rem;
        font-size: 1rem;
      }
    }
  }
  .what,
  .how-it-works,
  .why {
    margin: 5rem 3rem;
    .lead {
      margin-top: 1rem;
    }
  }

  .what {
    a {
      display: block;
      text-decoration: none;
      color: $primary-color;
      margin-top: 1rem;
    }
  }
}

// Footer
.footer {
  background-color: $dark-color;
  color: #fff;
  font-size: 0.8rem;
  .content {
    padding: 1rem;
    .logo {
      color: $primary-color;
      text-align: center;
    }
    * {
      color: $light-color;
      text-decoration: none;
      margin: 0.5rem;
      display: block;
    }
    #copyright {
      font-size: 0.7rem;
      color: $light-grey;
    }
  }
}

// register
.register-form {
  margin: 3rem auto;
  width: 90%;
  h1 {
    color: $dark-color;
    text-align: center;
  }
  p.lead {
    margin: 1rem 2rem 0 2rem;
    color: $primary-color;
  }

  input[type='email'],
  input[type='password'],
  input[type='password2'] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: solid 1px $primary-color;
  }
  input[type='submit'] {
    display: block;
    margin: 3rem auto 0.5rem;
    width: 80%;
  }
  .addition {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto;
    a {
      color: $primary-color;
    }
  }
}

.contact {
  h1,
  .lead {
    text-align: center;
  }
  .content {
    width: 80%;
    margin: 3rem auto;
  }
  .label {
    margin: 2rem 1.5rem 0;
  }
  input[type='email'],
  input[type='text'] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: solid 1px $primary-color;
  }
  textarea {
    display: block;
    margin: 1rem auto;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: solid 1px $primary-color;
  }
  .btn {
    margin-top: 2rem;
    width: 100%;
  }
}

// Alert

.alert {
  width: 100%;
  margin: 0.2rem auto;
  background-color: transparent;
  padding: 0.2rem;
  color: #333;
  border-radius: 0.5rem;
  text-align: center;
}
.alert-primary {
  color: $primary-color;
  border: 1px solid $danger-color;
}
.alert-danger {
  color: $danger-color;
  border: 1px solid $danger-color;
}

.alert-success {
  color: $success-color;
  border: 1px solid $success-color;
}

@media screen and (min-width: 700px) {
  .horizontal-navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 2px 1px #e6e6e6;
    .auth,
    .guest {
      margin: 0 auto;
      padding: 0 2rem;
    }
  }
  .container {
    margin: 5 auto;
  }

  .register-form {
    width: 60%;
  }

  // Landing
  .header__bg {
    transform: none;
  }
  // Vertical Navbar

  .right-area {
    width: 80%;
    max-width: 800px;
  }

  // Vertical
  .navbar {
    font-size: 2rem;
    left: 10%;
    width: 10rem;
    border-right: solid 0.5px $light-grey;
    border-left: solid 0.5px $light-grey;
    .word-item .each-item .word {
      font-size: 1.2rem;
    }
  }

  // Landing

  .landing {
    font-size: 1.3rem;
    .header {
      transform-origin: top left;
      text-align: center;
      color: white;
      background-color: $primary-color;
      .pc-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 80%;
        .left {
          flex: 1;
          .content {
            margin: 9rem auto;
            .lead {
              width: 80%;
            }
            .button {
              background-color: #fff;
              padding: 0.5rem 1rem;
              border: none;
              margin: 1rem;
              border-radius: 2rem;
            }
          }
        }
        .right {
          margin: 2rem auto;
          text-align: center;
          flex: 1;
          .phonevid {
            position: absolute;
            margin-left: 4rem;
            .iphone {
              height: 550px;
              position: relative;
              z-index: 1;
            }
            .video {
              position: absolute;
              left: 16px;
              top: 86px;
              height: 434px;
              z-index: 0;
            }
          }
        }
      }
    }

    .what {
      margin: 10rem auto 5rem;
      width: 80%;
      max-width: 700px;
      .lead {
        margin-top: 1rem;
      }
      a {
        margin-top: 1rem;
      }
    }
    .how-it-works,
    .why {
      margin: 5rem auto 4rem;
      width: 80%;
      max-width: 700px;
      .lead {
        margin-top: 1rem;
      }
    }
  }

  .footer {
    font-size: 1rem;
    padding: 2rem;
    .content {
      width: 80%;
      max-width: 700px;
      margin: auto;
      .link {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
      }
      #copyright {
        text-align: center;
      }
    }
  }

  .contact {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
}

.grid {
  .right-area,
  button {
    font-size: 1.2rem;
  }
}
