@import 'config';
@import 'utilities';
@import 'hamburgers';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

li {
  list-style-type: none;
}
.container {
  margin-top: 4rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

// navbar
.horizontal-navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 2px 1px #e6e6e6;
  .nav {
    background-color: #fff;

    .fix-content {
      display: flex;
      justify-content: space-between;
    }
    #logo {
      margin: 0.5rem 1rem;
    }
    .hide {
      display: none;
    }
    .flex {
      display: flex;
    }
    .block {
      display: block;
    }
    ul {
      width: 100%;
      font-size: 1.2rem;

      text-align: center;
      padding: 1rem;
      li {
        margin: 3rem;
      }
      a {
        text-decoration: none;
        color: $dark-color;
        font-weight: 500;
      }
    }
  }

  // .auth {
  //   display: flex;
  //   background-color: white;

  //   ul {
  //     display: flex;
  //     width: 100%;
  //     justify-content: flex-end;
  //     margin: 0.5rem 1rem;
  //     li {
  //       margin: 0 0.5rem;
  //     }
  //     a {
  //       text-decoration: none;
  //       color: $light-grey;
  //       font-weight: 500;
  //     }
  //   }
  //   #logo {
  //     margin: 0;
  //   }
  // }

  #logo {
    font-family: 'Lilita One', cursive;
    color: $primary-color;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
.navbar {
  z-index: 1;
  position: fixed;
  grid-area: navbar;
  height: 100%;
  height: 100vh;
  width: 6.5rem;
  text-align: left;
  padding: 0 0.2rem 1rem 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: solid 0.5px $light-grey;
  .control-panel {
    display: flex;
    padding: 0.3rem;
    border-bottom: solid 1px rgba(50, 50, 50, 0.2);
    justify-content: space-between;
  }
  .word-item {
    position: relative;
    top: 1rem;
    .each-item {
      line-height: 3rem;
      .not-flagged {
        font-size: 1rem;
        color: $dark-color;
      }
      .flagged {
        font-size: 1rem;
        color: $primary-color;
      }
      .remove-word {
        position: absolute;
        right: 0rem;
        margin-top: 0.8rem;
        transform: rotate(45deg);
        color: #e6e6e6;
        font-size: 1.5rem;
      }
    }
  }
}

.word-form {
  position: absolute;
  z-index: 20;
  top: -0.3rem;
  left: 6rem;

  textarea {
    z-index: 3;
    display: block;
    padding: 0.6rem;
    font-size: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    border: solid 1px $light-grey;
  }
}
.grid {
  display: grid;
  grid-template-areas: 'navbar right-area';
  grid-template-columns: 2fr 5fr;
}

.right-area {
  grid-area: right-area;
  padding: 0.5rem;
  width: 17rem;
  h1 {
    color: $primary-color;
  }
  .synonym {
    line-height: 2rem;
    button {
      font-size: 1rem;
    }
  }
  button {
    font-size: 1.2rem;
  }
  .control-panel {
    display: flex;
    .say-one {
      position: relative;
      padding-left: 1rem;
    }
    .flag-button {
      position: relative;
      bottom: 0.3rem;
    }
  }
  // .say-all {
  //   position: absolute;
  //   top: 7.5rem;
  //   right: 2rem;
  // }
  // .say-flagged {
  //   position: absolute;
  //   top: 7.5rem;
  //   right: 4.5rem;
  // }

  // .shuffle-icon {
  //   position: absolute;
  //   top: 7.7rem;
  //   left: 11rem;
  // }
}

.shadow-box {
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 1px #e6e6e6;
  padding: 1rem;
  margin-top: 0.5rem;
}

// content area

.youdao {
  h2 {
    color: $youdao-color;
  }
}
.google {
  h2 {
    color: $google-color;
  }
  h3 {
    font-style: italic;
  }
  .def {
    border-bottom: 1px solid $grey-color;
    padding: 1rem 0;
  }
  .example {
    color: $grey-color;
  }
  .synonyms {
    color: $dark-grey;
    word-wrap: break-word;
  }
  button {
    font-size: 1rem;
  }
}
.dict {
  span {
    font-weight: 700;
    color: $light-grey;
    font-size: 0.8rem;
  }
  li {
    margin-bottom: 1rem;
  }
}

.mnemonic {
  .item {
    margin: 1rem 0;
    hr {
      color: $light-grey;
    }
    .like {
      color: $success-color;
    }
    .dislike {
      color: $danger-color;
    }
  }
}

// Spinner
.container-xy {
  display: flex;
  background-color: white;
  height: 100%;
  height: 100vh;
  .center-xy {
    width: 100%;
    margin: auto;
    text-align: center;
    h1 {
      color: $primary-color;
    }
  }
}

// Landing
.header__bg {
  background-color: $primary-color;
  transform: skewY(5deg);
  z-index: -10;
  position: absolute;
  transform-origin: top left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 26rem;
}

.landing {
  .header {
    transform-origin: top left;
    margin-top: -2rem;
    display: flex;
    background-color: $primary-color;
    .phone-container {
      margin: 3rem auto;
      color: white;
      text-align: center;
      .lead {
        margin: 0rem auto;
        font-size: 1.6rem;
        width: 80%;
        max-width: 700px;
      }
      .button {
        background-color: #fff;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        margin-top: 3rem;
        font-size: 1rem;
      }
    }
  }
  .what,
  .how-it-works,
  .why {
    margin: 5rem 3rem;
    .lead {
      margin-top: 1rem;
    }
  }

  .what {
    a {
      display: block;
      text-decoration: none;
      color: $primary-color;
      margin-top: 1rem;
    }
  }
}

// Footer
.footer {
  background-color: $dark-color;
  color: #fff;
  font-size: 0.8rem;
  .content {
    padding: 1rem;
    .logo {
      color: $primary-color;
      text-align: center;
    }
    * {
      color: $light-color;
      text-decoration: none;
      margin: 0.5rem;
      display: block;
    }
    #copyright {
      font-size: 0.7rem;
      color: $light-grey;
    }
  }
}

// register
.register-form {
  margin: 3rem auto;
  width: 90%;
  h1 {
    color: $dark-color;
    text-align: center;
  }
  p.lead {
    margin: 1rem 2rem 0 2rem;
    color: $primary-color;
  }

  input[type='email'],
  input[type='password'],
  input[type='password2'] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: solid 1px $primary-color;
  }
  input[type='submit'] {
    display: block;
    margin: 3rem auto 0.5rem;
    width: 80%;
  }
  .addition {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto;
    a {
      color: $primary-color;
    }
  }
}

.contact {
  h1,
  .lead {
    text-align: center;
  }
  .content {
    width: 80%;
    margin: 3rem auto;
  }
  .label {
    margin: 2rem 1.5rem 0;
  }
  input[type='email'],
  input[type='text'] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: solid 1px $primary-color;
  }
  textarea {
    display: block;
    margin: 1rem auto;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: solid 1px $primary-color;
  }
  .btn {
    margin-top: 2rem;
    width: 100%;
  }
}

// Decks
.decks {
  width: 90%;
  margin: 5rem auto;
  h1 {
    text-align: center;
  }
  ul.deck-list {
    font-size: 1.2rem;
    li {
      margin: 1rem 0;
      padding: 0.6rem 2rem;
      border: 0.5px solid rgba(50, 50, 50, 0.2);
      border-radius: 0.2rem;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      a {
        color: $dark-color;
        text-decoration: none;
      }
      .remove-deck-button {
        position: absolute;
        right: 1rem;
        width: 20px;
        height: 20px;
        // border: 1px solid $danger-color
        border-radius: 50%;
        background-color: rgba(237, 28, 36, 0.8);
        color: #fff;
      }
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    textarea {
      display: block;
      width: 100%;
      margin: 0.2rem;
      padding: 0.4rem;
      font-size: 1rem;
      border: 0.5px solid rgba(50, 50, 50, 0.2);
      border-radius: 0.2rem;
    }

    input[type='submit'] {
      display: block;
      margin: 0 0.2rem;
      text-align: center;
      padding: 0.4rem 1rem;
    }
  }

  .toggle-form-button {
    position: absolute;
    top: 5rem;
    right: 1rem;
    background-color: $primary-color;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 2rem;
    color: white;
  }
}

// Alert

.alert-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-container-word {
  position: fixed;
  width: 66%;
  z-index: 10;
  top: 6rem;
  display: flex;
  flex-direction: column;
}

.alert {
  width: 100%;
  margin: 0.2rem auto;
  background-color: transparent;
  padding: 0.2rem;
  color: #333;
  border-radius: 0.5rem;
  text-align: center;
  opacity: 0.8;
}
.alert-primary {
  background-color: $primary-color;
  color: #fff;
}
.alert-danger {
  background-color: $danger-color;
  color: #fff;
}

.alert-success {
  background-color: $success-color;
  color: #fff;
}

// Profile Section
.profile-section {
  margin-top: 5rem;
  h1 {
    text-align: center;
  }
  .account-info {
    display: flex;
    margin: 1rem auto;
    width: fit-content;
    font-size: 1.3rem;
    p {
      margin: 0 1rem;
    }
  }

  .api {
    margin: 2rem auto;
    font-size: 1.2rem;
    line-height: 3.5rem;
    width: fit-content;

    h3 {
      text-align: center;
    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox'] + label:before {
      content: '\2714';
      font-size: 0.8rem;
      color: transparent;
      border: 2px solid $primary-color;
      border-radius: 0.3rem;
      padding: 2px 5px;
      margin-right: 1rem;
    }
    input[type='checkbox']:checked + label:before {
      color: #fff;
      background-color: $primary-color;
    }
    input[type='submit'] {
      margin: 2rem;
    }
    form {
      font-family: 'Lilita One', cursive;
    }
  }
}
@media screen and (min-width: 700px) {
  .horizontal-navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 2px 1px #e6e6e6;
    .nav {
      margin: 0 auto;
      padding: 0.6rem 2rem 0.5rem;
      display: flex;
      justify-content: space-between;
      .hamburger {
        display: none;
      }
      .hide {
        display: flex;
        justify-content: flex-end;
      }

      ul {
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        li {
          margin: 0.5rem;
        }
        a {
          text-decoration: none;
          color: $dark-color;
          font-weight: 500;
        }
      }
    }
  }
  .container {
    margin: 5rem auto;
  }

  .register-form {
    width: 60%;
  }

  // Landing
  .header__bg {
    transform: none;
  }
  // Vertical Navbar

  // Vertical
  .navbar {
    font-size: 2rem;
    left: 10%;
    width: 10rem;
    border-right: solid 0.5px $light-grey;
    border-left: solid 0.5px $light-grey;
    .word-item .each-item .word {
      font-size: 1.2rem;
    }
  }

  // Landing

  .landing {
    font-size: 1.3rem;
    .header {
      transform-origin: top left;
      text-align: center;
      color: white;
      background-color: $primary-color;
      .pc-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 80%;
        .left {
          flex: 1;
          .content {
            margin: 9rem auto;
            .lead {
              width: 80%;
            }
            .button {
              background-color: #fff;
              padding: 0.5rem 1rem;
              border: none;
              margin: 1rem;
              border-radius: 2rem;
            }
          }
        }
        .right {
          margin: 2rem auto;
          text-align: center;
          flex: 1;
          .phonevid {
            position: absolute;
            margin-left: 4rem;
            .iphone {
              height: 550px;
              position: relative;
              z-index: 1;
            }
            .video {
              position: absolute;
              left: 16px;
              top: 86px;
              height: 434px;
              z-index: 0;
            }
          }
        }
      }
    }

    .what {
      margin: 10rem auto 5rem;
      width: 80%;
      max-width: 700px;
      .lead {
        margin-top: 1rem;
      }
      a {
        margin-top: 1rem;
      }
    }
    .how-it-works,
    .why {
      margin: 5rem auto 4rem;
      width: 80%;
      max-width: 700px;
      .lead {
        margin-top: 1rem;
      }
    }
  }

  .footer {
    font-size: 1rem;
    padding: 2rem;
    .content {
      width: 80%;
      max-width: 700px;
      margin: auto;
      .link {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
      }
      #copyright {
        text-align: center;
      }
    }
  }

  .contact {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
  .decks {
    ul.deck-list {
      font-size: 1.2rem;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 1rem 1%;
        width: 31%;
        padding: 1rem 2rem;
      }
    }
  }

  .right-area {
    grid-area: right-area;
    padding: 0.5rem;
    width: 80%;
    h1 {
      color: $primary-color;
    }
    .synonym {
      line-height: 2rem;
      button {
        font-size: 1rem;
      }
    }
    button {
      font-size: 1.2rem;
    }
    .say-all {
      position: absolute;
      top: 8.5rem;
      left: 37rem;
    }
    .say-flagged {
      position: absolute;
      top: 8.5rem;
      left: 32rem;
    }
    .say-one {
      position: absolute;
      top: 8.5rem;
      left: 28rem;
    }
    .shuffle-icon {
      position: absolute;
      top: 8.7rem;
      left: 24rem;
    }

    .fa-star {
      position: relative;
      top: 0rem;
      left: 1rem;
    }
  }

  .word-form {
    top: 0rem;
    left: 9rem;
  }
}
